# Develop tools
.idea/
.vscode/
.env
config.yaml
*.log
*.iml
/bin/
/pkg/
vendor/
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
.env.local
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

